.firstpage-nav {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 10;
}

.firstpage-login-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;
}

.firstpage-abonamente-btn{
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 40px;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;
    margin-top: 50px;
}

.firstpage-abonamente-btn:hover{
    background: white;
    color: black;
    transform: scale(1.05);
}

.firstpage-login-btn:hover {
    background: white;
    color: black;
}


.firstpage-center {
    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    color: white;
    text-align: center;
}

.firstpage-center h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.firstpage-center h1 {
    font-size: 3em;
    margin: 0 0 40px 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.devino-membru-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 40px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;
    margin-top: 50px;
}

.devino-membru-btn:hover {
    background: white;
    color: black;
    transform: scale(1.05);
}