.button-group{
    text-align: center;
    margin-top: 30px;
}

.button-group button{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 0px 5px;
    transition: background-color 0.3s ease;
}

.login-btn{
    background-color: rgb(47, 102, 111);
    color: white;
    border: 1px solid rgb(47, 102, 111);
}

.login-btn:hover{
    background-color: rgb(33, 74, 81);
}

.register-btn{
    background-color: transparent;
    color: white;
    border: 1px solid rgb(47, 102, 111);
}

.register-btn:hover{
    background-color: rgb(20, 47, 51);
}

.register-btn:active{
   background-color: rgb(20, 47, 51);
   transform: translateY(2px);
}