.register-form-row {
    display: flex;
    gap: 15px;
    width: 100%;
}

.create-account-btn {
    background-color: rgb(51, 98, 164);
    color: white;
    border: none;
    padding: 12px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.create-account-btn:hover {
    background-color: rgb(22, 77, 103);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgb(16, 57, 76);
}

.create-account-btn:disabled {
    background-color: #555;
    cursor: not-allowed;
    transform: none;
}

.register-switch-btn {
    background: transparent;
    border: none;
    color: #ccc;
    margin-top: 30px; 
    cursor: pointer;
    font-size: 0.95em;
    transition: color 0.3s;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.register-switch-btn:hover {
    color: white;
    text-decoration: underline;
}